/* Color pallete */

$btn-color: #596d48;
$border-color: #e5e7eb;
$erro-color: #dc2626;
$valid-color: #60a4fa;

$bg-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$font-color: #171717;

$bg-color: #E5E7EB;