@use 'breakpoints' as media;

.form-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    @include media.breakpoint(medium) {
        margin-left: 2em;
    }
}
.form-heading {
    color: var(--font-color);
    font-family: 'Roboto';
    font-weight: bold;
    width: 80%;

    p {
        font-size: 1rem;
        
        @include media.breakpoint(medium) {
            padding-bottom: 1em;
            font-size: 1.5rem;

        }
    }
}

.submit-btn {
    border: none;
    background-color: hsl(var(--btn-color) / 1);
    color: white;
    padding: 0.5em 2em;
    border-radius: .3em;
    box-shadow: var(--bg-shadow);
    cursor: pointer;
    margin-top: 1em;
    
    &:hover {
        background-color: hsl(var(--btn-color) / 0.7);
    }
}


form {
    color: var(--font-color);
    font-family: 'Roboto';
    width: 100%;
    
    
    legend {
        font-weight: bold;
        font-size: 1.4rem;
    }
    
    fieldset {
        box-shadow: var(--bg-shadow);
        font-weight: 300;
        border: none;
        padding: 1em 1em 3em 1em;
    }

    label {
        display: flex;
        flex-direction: column;
        padding-top: 2em;
        text-transform: uppercase;
        font-size: 0.8rem;
        width: 100%;
        
    }

    input {
        border: 1px solid var(--border-color);
        padding: 0.5rem;
        border-radius: 6px;

        @include media.breakpoint (medium) {
            margin-right: 5em;
        }

        &:focus {
            box-shadow: var(--bg-shadow);
            outline: 1px solid blue;
        }
        
        &:invalid:not(:focus):not(:placeholder-shown) {
            background: pink;
        }
        &:valid {
            border-color: green;
        }

        
    }

    
    
}
.error-msg {
    position: relative;
}

.error-msg::before {

    content: "* Please enter a valid email address";
    color: red;
    position: absolute;
    bottom: -20px;
    font-size: 11px;
}

.input-flex {
    
    @include media.breakpoint (medium) {
       display: flex;
    }
    

}


.form-section-footer {
    font-family: inherit;
    margin-top: 1em;
    color: var(--font-color);
    font-weight: bold;

    a {
        color: hsl(var(--btn-color) / 1);
        font-weight: bold;
        text-decoration: none;

        &:hover {
            color: hsl(var(--btn-color) / 0.7);
        }
    }


}


