@use 'breakpoints' as media;
.logo-section {

    display: flex;
    flex-direction: column;
    justify-content: center;

    flex: 1;

    background-image: url(/assets/img/bg-img-sign-up.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 50vh;


}


.logo-container {
    display: flex;
    background-color: hsl(var(--bg-transparent) / 0.3);
    justify-content: center;
    align-items: center;
    padding: 0.5em;

    h1 {

        font-size: clamp(3.25rem, 5vw + 1rem, 10rem);
        
        font-family: 'Norse';
        font-weight: bold;
        color: white;
    }

    img {
        width: 50px;
        height: 70px;
        margin-right: 0.5em;
    }
}