:root {
    --dark-bg: #1f2937;
    --hero-text-cl: #f9faf8;
    --hero-secont-text-cl: #e5e7eb;
    --blue-cl: #3882f6;
    --header-dark: #1f2937;
    --quote-bg: #e5e7eb;
   
    --fs-48: 48px;
    --fs-36: 36px;
    --fs-24: 24px;
    --fs-18: 18px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}


/* utility classes */

.wrapper {
    width: min(100% - 2rem, 70rem);
    margin-inline: auto;
    padding-inline: 1rem;
}

/* color */
.dark-bg {background-color: var(--dark-bg);}
.light-bg {background-color: var(--quote-bg);}
.blue-bg {background-color: var(--blue-cl);}

.fc-dark {color: var(--header-dark)}
.fc-light {color: var(--hero-secont-text-cl)}

/* font-size */

.fs-48 {font-size: var(--fs-48);}
.fs-36 {font-size: var(--fs-36);}
.fs-24 {font-size: var(--fs-24);}
.fs-18 { font-size: var(--fs-18);}

.bold {font-weight: bolder;}
.light {font-weight: 200;}
.italic {font-style: italic;}

.p-2 {
    padding: 2em;
}

.btn {
    background: none;
    border: none;
    padding: 0.5em 1.6em;
    border-radius: 5px;
    
}

.hero-btn {
    background-color: var(--blue-cl);
}

.btn-cfa {
    border: 2px solid var(--quote-bg)
}



.flex {
    display: flex;
}






.header {
    display: flex;
    justify-content: space-between;
    
   
}



.nav {
    display: flex;
    gap: 5rem;
    list-style: none;
    
}
.nav a {
    text-decoration: none;
    cursor: pointer;
    color: var(--hero-text-cl)
}



.hero-section {
    align-items: center;
   
}

.hero-text {
    flex: 50%;

}

.hero-img {
    flex: 50%;
    
}


.information-section {
    gap: 1rem;
   
}

.info-title {
    
    text-align: center;
}

.information-section img {
    border-radius: 10px;
    width: 200px;
    aspect-ratio: 1;
    -o-object-fit: cover;
       object-fit: cover;
}



.cta-section {
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    margin: 5em 0;
    
}

.footer {
    justify-content: center;
}